# Configurações do Supabase para o Absolut Parfum
NEXT_PUBLIC_SUPABASE_URL=https://thxcfvzzwsquetpvfpez.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_P-vI4VqH2lAENz9EEbT-UQ_GtBlxQxe
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_P-vI4VqH2lAENz9EEbT-UQ_GtBlxQxe

SUPABASE_URL=https://thxcfvzzwsquetpvfpez.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_P-vI4VqH2lAENz9EEbT-UQ_GtBlxQxe
SUPABASE_SECRET_KEY=sua_secret_key_aqui
SUPABASE_JWKS_URL=https://thxcfvzzwsquetpvfpez.supabase.co/auth/v1/.well-known/jwks.json

# Dados da Loja Absolut Parfum
NEXT_PUBLIC_STORE_NAME=Absolut Parfum
NEXT_PUBLIC_STORE_CNPJ=48.910.231/0001-88
NEXT_PUBLIC_STORE_PHONE=(11) 98844-0310
NEXT_PUBLIC_STORE_PIX_KEY=pix@absolutparfum.com.br
